[submodule "mf/metaflop-font-bespoke"]
	path = mf/metaflop-font-bespoke
	url = git@github.com:greyfont/metaflop-font-bespoke.git
[submodule "mf/metaflop-font-adjuster"]
	path = mf/metaflop-font-adjuster
	url = git@github.com:greyfont/metaflop-font-adjuster.git
[submodule "mf/metaflop-font-fetamont"]
	path = mf/metaflop-font-fetamont
	url = git@github.com:metaflop/metaflop-font-fetamont.git
