<div id="col2">
    <div class="box-fullwidth box-text">
        <h2><span>general</span></h2>
        <div class="box-content">
            <div class="text-col">
                <h3>What is Metaflop about?</h3>
                <p>
                metaflop is a web based platform for metafonts and related type projects. With our <a href="/modulator">modulator tool</a> you can render for the first time various Metafonts without dealing with the programming language and coding by yourself. The repetitive tasks are automated in the background. this enables you to focus on the design itself – adjusting the parameters of a font for your own taste. The specific result can be downloaded as an OpenType PS font (.oft) which can be used on any system in any application supporting .otf.
                </p>
            </div>

            <div class="text-col">
                <h3>What is Metafont?</h3>
                <p>
                <a href="http://en.wikipedia.org/wiki/Metafont" target="_blank">Metafont</a> is a high-level, mathematically oriented language for producing fonts. It is also the name of the interpreter that executes Metafont code, generating the bitmap fonts that can be embedded into e.g. PostScript. Metafont was devised by <a href="http://www-cs-faculty.stanford.edu/~uno/" target="_blank">Donald Knuth</a> as counterpart to his TeX typesetting system. One of the characteristics of Metafont is that all of the shapes of the glyphs are defined with geometrical equations.
                </p>
            </div>

            <div class="text-col">
                <h3>What is your improvement over bare metafont?</h3>
                <p class="minor-para">
                metafont has been already used by some very specialized groups for over twenty years. while it could be a very powerful tool, it never came to a broader use. why? mainly because:</p>
                <ul>
                    <li>font creators are mostly designers, not engineers. so metafont is rather complicated to use, you need to learn programming.</li>
                    <li>it has no gui (graphical user interface)</li>
                    <li>the native export is to bitmap fonts which is a severe limitation compared to outline fonts.</li>
                </ul>
            </div>
            <div class="text-col no-heading-double last">
                <p>
                our contribution to metafont is to address these issues.
                we are aware that it is difficult to produce subtle and refined typographical fonts (in the classical meaning). nevertheless we believe there is a undeniable quality in parametric font design and we try to bring it closer to the world of the designers.
                </p>
            </div>

        </div>
    </div>

    <div class="box-fullwidth box-text">
        <h2><span>modulator</span></h2>
        <div class="box-content">
            <div class="text-col">
                <h3>Why are there so many error messages in the preview?</h3>
                <p>
                well that's a good question! with a high amount of adjustable parameters, certain combinetions can produce incompatible results. our fonts are still beta and constantly under development. and as a matter of fact we are no professional metafont programmers. we try hard to increase our skills and quality of coding, trying to reduce the amount of errors as much as possible. <br />
                if you are a skilled programmer with interests in metafont, please <a href="mailto:info@greyfont.com">contact us</a> for further developments and projects.
                </p>
            </div>

            <div class="text-col">
                <h3>Why is the response of the preview sometimes slow?</h3>
                <p>
                We are hooking up a chain of scripts, including the software called Metafont on our server. Every change of parameter is calculated on the server and ships back an image as a visual result. That takes some time depending on the server activity and your internet connection.
                </p>
            </div>

            <div class="text-col">
                <h3>Why is the glyph preview grey and a bit pixelized?</h3>
                <p>
                Metafont's first visual output is a special file called .dvi. It is using pixel-like blocks to visualize the glyph for print. Such drafts are used to study the glyph construction and look.
                </p>

                <h3>Can I download the font for free?</h3>
                <p>
                Yes! Please read our <a href="/terms">terms</a> before downloading the font.
                </p>
            </div>
        </div>
    </div>
</div>
