<h2>FAQ</h2>

<h3>Q: What is Metaflop about?</h3>
<p>
A: Metaflop is a web based type design system. With this tool you can render for the first time various Metafonts without dealing with the programming language and coding by yourself. The repetitive tasks are automated in the background. This leaves you with the core of type design – adjusting the parameters of a font on your own taste. The generative and specific result can be download as an OpenType PS font (.oft) which can be used on any system in any application supporting .otf.
</p>

<h3>Q: What is Metafont?</h3>
<p>
A: Metafont is a programming language used to define vector fonts. It is also the name of the interpreter that executes Metafont code, generating the bitmap fonts that can be embedded into e.g. PostScript. Metafont was devised by Donald Knuth as counterpart to his TeX typesetting system. One of the characteristics of Metafont is that all of the shapes of the glyphs are defined with geometrical equations.
</p>

<h3>Q: Why are there so many error messages in the preview?</h3>
<p>
A: Well that's a good question! First of all Metaflop is in its beta and still under heavy development. And as a matter of fact we are no professional Metafont programmers :). With seventeen parameters, certain combinations can produce incompatible results. We are constantly trying to reduce the amount of errors as much as possible.
</p>

<h3>Q: Why is the response of the preview sometimes slow?</h3>
<p>
A: We are hooking up a chain of scripts, including the software called Metafont on our server. Every change of parameter is calculated on the server and ships back an image as a visual result. That takes some time depending on the server activity and your internet connection.
</p>

<h3>Q: Why is the glyph preview grey and a bit pixelized?</h3>
<p>
A: Metafont's first visual output is a special file called .dvi. It is using pixel-like blocks to visualize the glyph for print. Such drafts are used to study the glyph construction and look.
</p>

<h3>Q: Why is there only "Bespoke" to choose from the font list?</h3>
<p>
A: This is our first Metafont for Metaflop. Next to its refinement we are working on other fonts which will be released in the future.
</p>
<p>
<h3>Q: Can I download the font for free?</h3>
A: Yes, if it is for non-commercial purposes! Please read <a href="/terms" class="popup-back">our EULA (End User License Agreement)</a> before downloading the font.
</p>
