<div id="col1">

    <div id="menu">
        <h2>Metaflop</h2>
        <div class="box-content">
            <fieldset>
                <legend>Generator</legend>

                <div class="clearfix inputblock">
                    <label>anatomy</label>
                    <div class="static-value toggle-info-panel">
                        <span class="action exclusive">on</span>
                        <span class="action exclusive active">off</span>
                    </div>
                </div>
                <div class="clearfix inputblock parameter-panel-mode-toggle">
                    <label>mode</label>
                    <div class="static-value">
                        <span class="action exclusive sliders active">dummy</span>
                        <span class="action exclusive adjusters">nerd</span>
                    </div>
                </div>
                <div class="clearfix inputblock">
                    <label>setting</label>
                    <div class="static-value">
                        <span class="action" id="action-reset-values">reset</span>
                        <span class="action" id="action-randomize-values">flop it!</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="first">
                    <div class="clearfix">
                        <label>Font</label>
                        <select id="param-fontface">
                            {{#fontfaces}}
                            <option value="{{name}}"{{#active}} selected="selected"{{/active}}>{{name}}</option>
                            {{/fontfaces}}
                        </select>
                    </div>
                </legend>

                <div class="clearfix inputblock">
                    <label id="action-share-url" class="dropdown-value"><span>share</span></label>
                </div>
                <div class="clearfix inputblock">
                    <label>export</label>
                    <div class="static-value">
                        <a href="#" id="action-export-font">otf</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div id="parameter-panel">
        {{> parameter_panel}}
    </div>

</div>

<div id="col2">

    <div id="info-panel">
        <img src="/img/typoglossary.png" />
    </div>

    <div id="preview-panel">
        <div id="preview-single" class="preview-box active">
            <h2>Glyph</h2>
            <div class="preview-loading-text">server action! updating glyph...</div>

            <div class="preview-box-content">
                <div class="preview-loading"></div>
                <img src="/img/blank.png" class="preview-image" />
                <img src="/img/blank.png" class="preview-image" style="display: none;" />
                <a href="#" class="char-chooser left">&lt;</a>
                <div class="char-chooser">
                    {{> char_chooser}}
                </div>
                <a href="#" class="char-chooser right">&gt;</a>
            </div>
        </div>
        <div id="preview-chart" class="preview-box">
            <h2>Chart</h2>
            <div class="preview-loading-text">server action! updating chart...</div>

            <div class="preview-box-content">
                <div class="preview-loading"></div>
                <img src="/img/blank.png" class="preview-image" />
                <img src="/img/blank.png" class="preview-image" style="display: none;" />
            </div>
        </div>
        <div id="preview-typewriter" class="preview-box preview-box-fullwidth">
            <h2>Typewriter</h2>
            <div class="preview-loading-text">server action! updating text...</div>

            <div class="preview-box-content">
                <div class="preview-loading"></div>
                <textarea id="param-text">Font design is in fact lots of fun, especially when you make mistakes.</textarea>
                <a href="#" class="toggle-mode" title="enter edit mode">&nbsp;</a>
                <img src="/img/blank.png" class="preview-image" />
                <img src="/img/blank.png" class="preview-image" style="display: none;" />
            </div>
        </div>
    </div>
</div>

{{! don't process mustache serverside, these are js templates }}
{{=<% %>=}}
<script id="collapsibleShare" type="text/x-html-template">
    <ul class="collapsible-list share">
        <li class="collapsible-list-item">
            <a href="http://twitter.com/home?status={{text}}" target="_blank" class="action-icon share-twitter" title="post a tweet">
                <img src="/img/blank.png" />
            </a>

            <a href="http://www.facebook.com/sharer.php?u={{text}}" target="_blank" class="action-icon share-facebook" title="post on facebook">
                <img src="/img/blank.png" />
            </a>

            <a href="mailto:?subject=metaflop font&body={{text}}" class="action-icon share-email" title="send by email">
                <img src="/img/blank.png" />
            </a>

            <span class="share-clipboard">
                <img src="/img/blank.png" />
                <object width="20" height="20" id="clippy" class="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" title="copy to clipboard">
                    <param value="/flash/clippy.swf" name="movie">
                    <param value="always" name="allowScriptAccess">
                    <param value="high" name="quality">
                    <param value="noscale" name="scale">
                    <param value="text={{url}}" name="FlashVars">
                    <param value="#FFFFFF" name="bgcolor">
                    <param value="opaque" name="wmode">
                    <embed width="20" height="20" wmode="opaque" bgcolor="#FFFFFF" flashvars="text={{url}}" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
                </object>
            </span>
        </li>
    </ul>
</script>
<%={{ }}=%>
