<div id="main">

    <div id="col1">

        <div id="menu">
            <h2>Metaflop</h2>
            <div class="beta">beta</div>
            <div class="box-content">
                <fieldset>
                    <legend class="first" id="action-select-typeface">
                        <div class="clearfix">
                            <label>Typeface</label>
                            <select id="param-fontface">
                                {{#fontfaces}}
                                <option value="{{name}}"{{#active}} selected="selected"{{/active}}>{{name}}</option>
                                {{/fontfaces}}
                            </select>
                        </div>
                    </legend>

                    <ul>
                        <li class="toggle-info-panel">information <span class="action">on</span> / <span class="action active">off</span></li>
                        <li><a href="#" id="action-reset-values">reset</a></li>
                        <li><a href="#" id="action-randomize-values">flop it!</a></li>
                        <li><a href="#" id="action-share-url">share it</a></li>
                        <li><a href="#" id="action-export-font">export font (.otf)</a></li>
                    </ul>
                </fieldset>
            </div>
        </div>

        <div id="parameter-panel">
            {{> parameter_panel}}
        </div>

    </div>

    <div id="col2">

        <div id="info-panel">
            <img src="/img/typoglossary.png" />
        </div>

        <div id="preview-panel">
            <div id="preview-single" class="preview-box active">
                <h2>Glyph</h2>
                <div class="preview-loading-text">server action! updating glyph...</div>

                <div class="preview-box-content">
                    <div class="preview-loading"></div>
                    <img src="/img/blank.png" class="preview-image" />
                    <img src="/img/blank.png" class="preview-image" style="display: none;" />
                    <a href="#" class="char-chooser left">&lt;</a>
                    <div class="char-chooser">
                        <ul>
                            {{#char_sets}}
                            <li class="active">
                                {{#items}}<a href="#{{number}}">{{title}}</a>{{/items}}
                            </li>
                            {{/char_sets}}
                        </ul>
                    </div>
                    <a href="#" class="char-chooser right">&gt;</a>
                </div>
            </div>
            <div id="preview-chart" class="preview-box">
                <h2>Chart</h2>
                <div class="preview-loading-text">server action! updating chart...</div>

                <div class="preview-box-content">
                    <div class="preview-loading"></div>
                    <img src="/img/blank.png" class="preview-image" />
                    <img src="/img/blank.png" class="preview-image" style="display: none;" />
                </div>
            </div>
            <div id="preview-typewriter" class="preview-box preview-box-fullwidth">
                <h2>Typewriter</h2>
                <div class="preview-loading-text">server action! updating text...</div>

                <div class="preview-box-content">
                    <div class="preview-loading"></div>
                    <textarea id="param-text">Font design is in fact lots of fun, especially when you make mistakes.</textarea>
                    <a href="#" class="toggle-mode" title="enter edit mode">&nbsp;</a>
                    <img src="/img/blank.png" class="preview-image" />
                    <img src="/img/blank.png" class="preview-image" style="display: none;" />
                </div>
            </div>
        </div>

    </div>

    <div id="footer-push"></div>
</div>
<div id="footer">
    <ul>
        <li><a href="/terms" class="popup" rel="links">Terms</a></li>
        <li><a href="/faq" class="popup" rel="links">FAQ</a></li>
        <li><a href="mailto:info@greyfont.com">Mail</a></li>
    </ul>
</div>
