$(function () {

    var params = {
        boxHeight:      { title: 'box height', html: '<div class="static-value">100%</div>' },
        unitWidth:      { title: 'unit width', default: '{{defaults.u}}' },

        capHeight:      { title: 'cap height', default: '{{defaults.cap}}' },
        meanHeight:     { title: 'mean height', default: '{{defaults.mean}}' },
        barHeight:      { title: 'bar height', default: '{{defaults.bar}}' },
        ascHeight:      { title: 'ascender height', default: '{{defaults.asc}}' },
        descHeight:     { title: 'descender height', default: '{{defaults.desc}}' },

        overshoot:      { title: 'overshoot', default: '{{defaults.o}}' },
        horizontalInc:  { title: 'horizontal increase', default: '{{defaults.incx}}' },
        verticalInc:    { title: 'vertical increase', default: '{{defaults.incy}}' },
        apperture:      { title: 'apperture', default: '{{defaults.appert}}' },
        superness:      { title: 'superness', default: '{{defaults.superness}}' },

        penSize:        { title: 'pen size', default: '{{defaults.px}}' },
        corner:         { title: 'corner', default: '{{defaults.corner}}' },
        contrast:       { title: 'contrast', default: '{{defaults.cont}}' }
    };

    // enhance each object with a name (used as html/css id)
    Object.extended(params).each(function(item, i){
        params[item].name = function(){ return params[item].title.dasherize(); }
    });

    var templates = [
        // parameter panel, standard
        {
            name: 'parameterPanelAdjusterStandard',
            groups: [
                {
                    title: "Dimension",
                    items: [
                        params.boxHeight,
                        params.unitWidth
                    ]
                },
                {
                    title: "Proportion",
                    items: [
                        params.capHeight,
                        params.meanHeight,
                        params.barHeight,
                        params.ascHeight,
                        params.descHeight,
                        params.overshoot
                    ]
                },
                {
                    title: "Shape",
                    items: [
                        params.horizontalInc,
                        params.verticalInc,
                        params.apperture,
                        params.superness
                    ]
                },
                {
                    title: "Drawing mode",
                    items: [
                        params.penSize,
                        params.corner,
                        params.contrast,
                    ]
                }
            ],
            action: function(html) { $('#parameter-panel').append(html) }
        }
    ]

    templates.each(function(template, i) {
        // sequence numbering for tab navigation
        var sequence = template.items || Object.extended(template.groups);
        sequence.each(function(item, j) {
            item["tabindex"] = (i + 1) + "" + (j + 1);
        });
        var html = $.mustache($('#' + template.name).html(), template);
        template.action(html);
    });

    // single preview char chooser
    var sets = [];
    var number = 0;
    [
        ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
        ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
        [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
    ].each(function(set, i) {
        sets[i] = { items: [] };
        set.each(function(item, j) {
            number = number + 1;
            sets[i].items[j] = {
                title: item,
                number: number
            };
        });
    });

    var charChooser = $.mustache($('#charChooser').html(), {
        sets : sets
    });

    $('div.char-chooser').html(charChooser);

    // create a namespace for later use
    $.fn.metaflop = {

    };
});
