<div id="col2">
    {{#all}}
    <div id="fullcontent" class="preview-box-fullwidth active">
        <h2><span>{{title}}</span></h2>
        <div class="box-content">
            <p>
            {{text}}
            </p>
        </div>
    </div>
    {{/all}}
</div>
