<div id="col2">
    <div class="box-fullwidth box-slideshow">
        <h2><span></span></h2>
        <div class="box-content">
            <ul class="bjqs">
                {{#images}}
                <li><img src="{{.}}" /></li>
                {{/images}}
            </ul>
        </div>
    </div>

    <div class="box-fullwidth box-text">
        <h2><span>hello world</span></h2>
        <div class="box-content">
            <div class="text-col">
                <p>
                Metaflop is a web based platform for experimental fonts and type related projects using <a href="http://en.wikipedia.org/wiki/Metafont">Metafont</a>. Metafont is a programming language for creating entire families of fonts from a set of dimensional parameters and outline descriptions.
                </p>
            </div>
            <div class="text-col">
                <p>
                With the <a href="/modulator">Modulator</a> it is possible to render custom and flexible Metafonts without dealing with the programming language and coding by yourself. This enables you to focus on the design part – adjusting parameters of a typeface to your own taste. All the repetitive tasks are automated in the background.
                </p>
            </div>
            <div class="text-col">
                <p>
                The unique result can be downloaded as a <a href="http://en.wikipedia.org/wiki/Web_typography#Web_fonts">webfont</a> package for embedding on your homepage or an <a href="http://en.wikipedia.org/wiki/OpenType">OpenType PostScript font (.otf)</a> which can be used on any system in any application supporting .otf.
                </p>
            </div>
            <div class="text-col">
                <p>
                Metaflop is open source - You can <a href="https://github.com/greyfont/">find us on Github</a>, both for the <a href="https://github.com/greyfont/metaflop-www">source code of the platform</a> and for <a href="https://github.com/greyfont/metaflop-font">all the fonts</a>.
                </p>
            </div>
        </div>
    </div>
</div>
