<div id="col2"> <div id="fullcontent" class="preview-box-fullwidth active">
        <h2><span>News</span></h2>

        <div class="box-content">
            <h3>Hello World</h3>
            <p>
            welcome to metaflop! although it's still beta and going through heavy development, you can already generate your own metafonts with the <a href="/modulator">modulator</a>, export them as otf, and take them home with you for free. check our fonts <a href="/fonts/adjuster">mf adjuster</a> and <a href="/fonts/bespoke">mf bespoke</a> and spread the word! for more infos, see our <a href="/terms">terms</a> and <a href="/faq">faq</a>. 
            </p>
            <p>
            this is an open source project and you are encouraged to contribute to it: you can find our <a href="https://github.com/greyfont/">source code on github</a>, both for the source code of the webpage and for all the fonts.
            </p>

            <h3>projects showcase</h3>
            <p>
            we are proud to present the first metaflop related projects: <a href="/projects/vetter">love and hate</a> by the swiss artist christian vetter, a <a href="/projects/akku">poster series</a> for the artspace akku and a corporate identity for the architectural studio <a href="/projects/gruppe">gruppe</a> from the chair of tom emerson.
            </p>
        </div>
    </div>
</div>
