<h2><span>Parameters</span></h2>
<div class="box-content">
    {{#parameters}}
        <fieldset>
        <legend{{#css_class}} class="{{css_class}}"{{/css_class}}>{{title}}</legend>
        {{#items}}
        <div class="clearfix inputblock{{#css_class}} {{css_class}}{{/css_class}}">
            <label for="param-{{name}}">{{title}}</label>
            {{{html}}}
            {{^html}}
            <div class="adjuster param-{{name}}">
                <a href="#" class="sub10" title="decrease by 0.1">--</a>
                <a href="#" class="sub1" title="decrease by 0.01">-</a>
                <input type="text" name="param-{{name}}" id="param-{{name}}" tabindex="{{tabindex}}" value="{{value}}" class="param init" />
                <a href="#" class="add1" title="increase by 0.01">+</a>
                <a href="#" class="add10" title="increase by 0.1">++</a>
            </div>
            <div class="slider">
                <input id="slider-{{name}}" type="text" maxlength="6" name="inputTest" value="{{value}}"
                    data-range-from="{{range.from}}" data-range-to="{{range.to}}" data-default="{{default}}" />
            </div>
            {{/html}}
        </div>
        {{/items}}

        </fieldset>
    {{/parameters}}
</div>
