<div id="col1">
    <div id="menu">
        <h2>Projects</h2>
        <div class="box-content">
            <div class="clearfix inputblock">
                <label><a href="#" class="dynamic-menu action exclusive active">vetter</a></label>
            </div>
            <div class="clearfix inputblock">
                <label><a href="#" class="dynamic-menu action exclusive">gruppe</a></label>
            </div>
        </div>
    </div>
    <div id="parameter-panel">
        <h2>Info</h2>
        <div class="box-content">
            asdf
        </div>
    </div>
</div>

<div id="col2">
    <div class="preview-box preview-box-fullwidth active">
        <h2>vetter</h2>
        <div class="preview-box-content">
            <div id="slideshow">
                <ul class="bjqs">
                    <li>asdf</li>
                    <li>asdfasdfasdf asdf asdf</li>
                </ul>
            </div>
        </div>
    </div>
</div>
