$input_height: 14px;
$input_color: #ccc9bc;
$active_color: #60eb00;
$active_link_color: darken($active_color, 30%);
$text_link_color: darken($input_color, 25%);

$content_width: 1000px;
$right_column_width: 710px;
$border_width: 3px;
$box_spacing_y: 7px;

$box_spacing_x: 27px;
$preview_box_width: ($right_column_width - $box_spacing_x) / 2;
$preview_box_width_full: $right_column_width;
$preview_box_height: 340px;
$preview_box_content_width: $preview_box_width - 2 * $border_width;
$preview_box_content_width_full: $preview_box_width_full - 2 * $border_width;

$left_column_width: $content_width - $right_column_width - $box_spacing_x;

$footer_height: 25px;

@mixin col {
    float: left;
    overflow: hidden;
    padding-top: 30px;
}

@mixin header-row {
    margin-bottom: $box_spacing_y;
}

@mixin box-shadow {
    box-shadow: 2px 3px 3px $input_color;
}

@font-face {
    font-family: 'AdjusterRegular';
    src: url('/fonts/adjuster-webfont.eot');
    src: url('/fonts/adjuster-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/adjuster-webfont.woff') format('woff'),
         url('/fonts/adjuster-webfont.ttf') format('truetype'),
         url('/fonts/adjuster-webfont.otf') format('opentype'),
         url('/fonts/adjuster-webfont.svg#AdjusterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, sans-serif;
    font-size: 15px;
    background: url(/img/bg-gradient.png) repeat-x #fff 0 0;
}

input {
    border: 1px solid $input_color;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    height: $input_height;
    width: 37px;
    padding: 0;
    margin: 4px 0 0 0;
}

select {
    height: $input_height;
    padding: 0;
    margin: 3px 0 0 0;
    border: none;
    background: #fff;
}

option {
    height: $input_height;
    line-height: $input_height;
    padding: 0;
    margin: 0;
}

textarea {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    position: absolute;
    left: -9999px;
}

h2 {
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 8px 4px 7px;
    display: inline-block;
    background: $active_color;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    line-height: 24px;
    font-weight: bold;
    overflow: hidden;

    &.first {
        border-top: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    float: left;
    width: 60%;
    line-height: 24px;
}

a, span.action {
    color: #000;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $active_link_color;
    }
}

.clearfix {
    overflow: hidden;

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }
}

.box-content {
    padding: 2px 7px;
    background: #fff;

    .static-value {
        float: right;
        width: 30%;
    }
}

#main {
    min-height: 100%;
	height: auto !important;
	height: 100%;
    margin: 0 auto ($footer_height * -1) auto;
    position: relative;
    width: $content_width;
    overflow: hidden;
    padding: 0 10px 0 10px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid $input_color;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid $input_color;
}

.vertical-line {
    width: 1px;
    background: $input_color;
}

#col1 {
    @include col;

    width: $left_column_width;
    margin-right: $box_spacing_x;
}

#col2 {
    @include col;

    width: 710px;
}

#menu {
    @include header-row;

    .box-content {
        height: inherit;
    }

    .action {
        color: lighten(#000, 80%);

        &:hover {
            color: $active_link_color;
        }

        &.active {
            color: #000;
        }
    }
}

#info-panel {
    @include header-row;
    margin-top: 23px;
    height: 192px;
    display: none;
}

#parameter-panel {
    position: relative;

    .slider {
        float: right;
        width: 74px;
        height: 24px;
    }

    .adjuster {
        float: right;
        width: 74px;
        height: 24px;
        margin-right: 18px;
        text-align: center;
        position: relative;

        display: none;

        a {
            display: none;
            text-decoration: none;
            color: transparent;
            width: 19px;
            height: $input_height;
            position: absolute;
            background-image: url(/img/plusminus.png);
            background-repeat: no-repeat;
            background-color: #eee;
            top: 4px;
            z-index: 3;

            &.add1 {
                right: 0;
                background-position: -21px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                &:hover {
                    background-position: -21px -20px;
                }
            }

            &.add10 {
                right: -20px;
                background-position: -1px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                border-right: 1px solid $input-color;
                &:hover {
                    background-position: -1px -20px;
                }
            }

            &.sub1 {
                left: -1px;
                background-position: -38px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                &:hover {
                    background-position: -38px -20px;
                }
            }

            &.sub10 {
                left: -21px;
                background-position: -56px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                border-left: 1px solid $input-color;
                z-index: 4;
                &:hover {
                    background-position: -56px -20px;
                }
            }
        }
    }

    .static-value {
        font-size: 12px;
        line-height: 21px;
    }

    .parameter-panel-mode-toggle {
        position: absolute;
        line-height: 15px;
        right: 0;
        top: 5px;

        .action.active {
            font-weight: bold;
        }
    }
}

.preview-box,
.preview-box-fullwidth {
    float: left;
    width: $preview_box_width;
    margin: 0 0 $box_spacing_y 0;

    h2 {
        background: #fff;
        margin: 0;
    }

    .preview-box-content {
        margin-top: $border_width * -1; // correct the border width, such that h2 corresponds to parameters h2
        border: $border_width solid #fff;
        width: $preview_box_content_width;
        height: $preview_box_height;
        overflow: hidden;
        text-align: center;
        position: relative;
        line-height: $preview_box_height;
        font-size: 9px;
        background: #fff;

        * {
            line-height: 11px;
        }

        .toggle-mode {
            position: absolute;
            top: -1px;
            right: -1px;
            width: 15px;
            height: 15px;
            border: 1px solid $active_color;
            background-image: url(/img/icons.png);
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: -64px -113px;

            &.edit-mode {
                background-position: -64px -145px;
            }
        }

        .preview-image {
            vertical-align: middle;
            display: inline;
        }
    }

    &.active {
        h2 {
            background: $active_color;
        }

        .preview-box-content {
            border: 3px solid $active_color;
        }
    }
}

#preview-chart {
    margin-left: $box_spacing_x;
}

.preview-box-fullwidth {
    width: $preview_box_width_full;

    .preview-box-content {
        width: $preview_box_content_width_full;

        .preview-image {
            vertical-align: top;
            margin: 9px 0;

            &.error {
                vertical-align: middle;
            }
        }
    }
}

.adjuster input.active {
    background-color: $active_color;
}

.preview-loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.preview-loading-text {
    display: none;
    float: right;
    font-size: 13px;
    height: 13px;
    line-height: 25px;
}

.inputblock {
    border-bottom: 1px solid $input_color;
    position: relative;

    &.last {
        border-bottom: none;
    }

    &:hover {
        background: #eee;
    }
}

div.char-chooser {
    position: absolute;
    bottom: 0;
    left: 0;
    width: $preview_box_content_width;
    height: 16px;
    line-height: 15px;
    overflow: hidden;


    ul {
        position: absolute;
        top: 3px;
        width: 2000px;
    }

    li {
        float: left;
        width: $preview_box_content_width;

        a {
            font-size: 11px;
            padding: 0 2px;

            &.active {
                font-weight: bold;
                border: 1px solid $active-color;
            }
        }
    }
}

a.char-chooser {
    position: absolute;
    bottom: 3px;
    z-index: 1;
    width: 10px;
    color: transparent;

    &.left {
        left: 2px;
        background: url(/img/icons.png) no-repeat scroll -99px -18px #fff;
    }

    &.right {
        right: 2px;
        background: url(/img/icons.png) no-repeat scroll -36px -19px #fff;
    }
}

#loading {
    margin-top: 130px;
}

#templates {
    display: none;
}

#footer-push {
    height: 25px;
    clear: both;
}

#footer {
    overflow: hidden;
    height: $footer_height;
    clear: both;
    text-align: right;
    position: relative;
    margin: 0 auto;
    width: $content_width;

    a {
        text-decoration: underline;
        color: $input_color;

        &.link {
            text-decoration: none;
        }

        &:hover {
            color: $active_link_color;
        }
    }

    ul {
        float: right;
        li {
            display: inline;

            a {
                margin-left: 10px;
            }
        }
    }
}

/* slider */
.fd-form-element-hidden {
    display: none;
}

.fd-slider {
    width: 100%;
    height: 24px;
    display: block;
    position: relative;

    &.fd-slider-hover {
        .fd-slider-handle {
            background: $active-color;
        }
    }

    span {
        position: absolute;
    }

    .fd-slider-handle {
        width: 7px;
        height: 15px;
        background: #eee;
        border: 1px solid $input_color;
        top: 4px;
        z-index: 2;
    }

    .fd-slider-bar {
        height: 1px;
        width: 100%;
        background: #aaa;
        top: 50%;
    }

    .fd-slider-range {
        height: 1px;
        top: 50%;
        background: #333;
        z-index: 1;
    }
}

/* tipsy */
.tipsy { font-size: 12px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }

	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* fancybox */
.MyTagStyle
{
    max-height:600px;
    max-width:940px;
    overflow:auto;
}

#fancybox-content {
    h2 {
        background: none;
        padding-left: 0;
        margin: 0 0 16px 0;
    }

    h3 {
        font-size: 15px;
        padding: 0;
        margin: 0 0 5px 0;
    }

    p {
        margin: 0 0 10px 0;
    }

    a {
        color: $text_link_color;

        &:hover {
            color: $active_link_color;
        }
    }
}
