$live_panel_height: 6em;
$input_height: 1.2em;
$input_color: #ccc;
$active_color: #cccc99;
$content_width: 1000px;
$preview-box-width: 350px;
$preview-box-spacing: 5px;

$preview-box-content-width: $preview-box-width - $preview-box-spacing - 2 * 3px;

@mixin col {
    margin: 20px auto 0;
    float: left;
    overflow: hidden;
}

@mixin header-row {
    height: 185px;
}

@mixin box-shadow {
    box-shadow: 2px 3px 3px #ccc;
}

@font-face {
    font-family: 'AdjusterRegular';
    src: url('/fonts/adjuster-webfont.eot');
    src: url('/fonts/adjuster-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/adjuster-webfont.woff') format('woff'),
         url('/fonts/adjuster-webfont.ttf') format('truetype'),
         url('/fonts/adjuster-webfont.otf') format('opentype'),
         url('/fonts/adjuster-webfont.svg#AdjusterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 0.9em;
}

input {
    border: 1px solid $input_color;
    font-family: Georgia, serif;
    font-size: 12px;
    height: $input_height;
    width: 37px;
    padding: 0;
    margin: 0.2em 0 0 0;
}

select {
    height: $input_height;
    padding: 0;
    margin: 0.2em 0 0 0;
    border: none;
    background: #fff;
}

option {
    height: $input_height;
    line-height: $input_height;
    padding: 0;
    margin: 0;
}

textarea {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    font-family: AdjusterRegular;
    font-size: $live_panel_height;
    line-height: 1em;
    height: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-shadow: 2px 3px 3px #ccc;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    background-color: $active_color;
    padding: 0.2em 2em 0.2em 0.5em;
    margin: 0;
    display: inline-block;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    line-height: 1.6em;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    float: left;
    width: 60%;
    line-height: 1.6em;
}

a, span.action {
    color: #000;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $active-color;
    }
}

.clearfix {
    overflow: hidden;

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }
}

#main {
    margin: 0 auto;
    position: relative;
    width: $content_width;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid $input_color;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid $input_color;
}

.vertical-line {
    width: 1px;
    background: $input_color;
}

#col1 {
    @include col;

    width: 28%;
    margin-right: 1%;
}

#col2 {
    @include col;

    width: 71%;
}

#menu {
    @include header-row;

    .action {
        color: lighten(#000, 80%);

        &.active {
            color: #000;
        }
    }
}

#info-panel {
    @include header-row;
}

#parameter-panel {
    position: relative;

    .slider {
        float: right;
        width: 30%;
        height: 1.6em;
    }

    .adjuster {
        float: right;
        width: 30%;
        height: 1.6em;
        margin-right: 1.7em;
        text-align: center;
        position: relative;

        display: none;

        a {
            display: none;
            text-decoration: none;
            color: transparent;
            width: 19px;
            height: $input_height;
            position: absolute;
            background-image: url(/img/plusminus.png);
            background-repeat: no-repeat;
            background-color: #eee;
            top: 2px;
            z-index: 3;

            &.add1 {
                right: 5px;
                background-position: -21px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                &:hover {
                    background-position: -21px -20px;
                }
            }

            &.add10 {
                right: -15px;
                background-position: -1px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                border-right: 1px solid $input-color;
                &:hover {
                    background-position: -1px -20px;
                }
            }

            &.sub1 {
                left: 5px;
                background-position: -38px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                &:hover {
                    background-position: -38px -20px;
                }
            }

            &.sub10 {
                left: -15px;
                background-position: -56px -2px;
                border-top: 1px solid $input-color;
                border-bottom: 1px solid $input-color;
                border-left: 1px solid $input-color;
                z-index: 4;
                &:hover {
                    background-position: -56px -20px;
                }
            }
        }
    }

    .static-value {
        font-size: 12px;
        line-height: 21px;
        float: right;
        width: 30%;
    }

    .parameter-panel-mode-toggle {
        position: absolute;
        right: 0;
        top: 0.4em;

        .action.active {
            font-weight: bold;
        }
    }
}

.preview-box,
.preview-box-fullwidth {
    float: left;
    width: $preview-box-width;
    margin: 0 0 0.1em 0;

    h2 {
        background: none;
        padding: 0;
        margin: 0;
    }

    .preview-box-content {
        margin: 0 $preview-box-spacing $preview-box-spacing 0;
        border: 3px solid lighten($active_color, 20%);
        width: $preview-box-content-width;
        height: $preview-box-content-width;
        overflow: hidden;
        text-align: center;
        position: relative;
        line-height: $preview-box-content-width;
        font-size: 0.67em;

        * {
            line-height: 1.25em;
        }

        .toggle-mode {
            position: absolute;
            top: -1px;
            right: -1px;
            width: 15px;
            height: 15px;
            border: 1px solid $active_color;
            background-image: url(/img/icons.png);
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: -64px -113px;

            &.edit-mode {
                background-position: -64px -145px;
            }
        }

        .preview-image {
            vertical-align: middle;
            display: inline;
        }
    }

    &.active .preview-box-content {
        border: 3px solid $active_color;
    }
}

.preview-box-fullwidth {
    width: $preview-box-width * 2 - $preview-box-spacing;

    .preview-box-content {
        width: $preview-box-width * 2 - $preview-box-spacing;

        .preview-image {
            vertical-align: top;
            margin: 1em 0;
        }
    }
}

.adjuster input.active {
    background-color: $active_color;
}

#preview-panel {
    margin-left: 10px;
}

.preview-loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.preview-loading-text {
    display: none;
    float: right;
    margin-right: 0.4em;
    color: $active_color / 1.5;
}

.inputblock {
    border-bottom: 1px solid #ccc;
    position: relative;

    &:hover {
        background: #eee;
    }
}

div.char-chooser {
    position: absolute;
    bottom: 0;
    left: 0;
    width: $preview-box-content-width;
    height: 1.3em;
    overflow: hidden;

    ul {
        position: absolute;
        top: 0.2em;
        width: 2000px;
        height: 1.6em;
    }

    li {
        float: left;
        width: $preview-box-content-width;

        a {
            padding: 0 0.2em;

            &.active {
                font-weight: bold;
                border: 1px solid $active-color;
            }
        }
    }
}

a.char-chooser {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: transparent;

    &.left {
        left: 0;
        background: url(/img/icons.png) no-repeat scroll -99px -17px #fff;
    }

    &.right {
        right: 0;
        background: url(/img/icons.png) no-repeat scroll -36px -18px #fff;
    }
}

#loading {
    margin-top: 130px;
}

#templates {
    display: none;
}


/* slider */
.fd-form-element-hidden {
    display: none;
}

.fd-slider {
    width: 100%;
    height: 1.6em;
    display: block;
    position: relative;

    &.fd-slider-hover {
        .fd-slider-handle {
            background: $active-color;
        }
    }

    span {
        position: absolute;
    }

    .fd-slider-handle {
        width: 7px;
        height: 1em;
        background: #eee;
        border: 1px solid #ccc;
        top: 0.3em;
        z-index: 2;
    }

    .fd-slider-bar {
        height: 1px;
        width: 100%;
        background: #aaa;
        top: 50%;
    }

    .fd-slider-range {
        height: 1px;
        top: 50%;
        background: #333;
        z-index: 1;
    }
}

/* tipsy */
.tipsy { font-size: 0.9em; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }

	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
