<div id="col1">
    <div id="menu">
        <h2>{{page_title}}</h2>
        <div class="box-content">
            {{#all}}
            <div class="clearfix inputblock">
                <label><a href="/{{page_name}}/{{title}}.json" class="dynamic-menu action exclusive{{#active}} active{{/active}}">{{title}}</a></label>
            </div>
            {{/all}}
        </div>
    </div>
    <div id="parameter-panel">
        <h2>Info</h2>
        <div class="box-content">
            {{first.description}}
        </div>
    </div>
</div>

<div id="col2">
    <div class="preview-box preview-box-fullwidth active">
        <h2>vetter</h2>
        <div class="preview-box-content">
            <div id="slideshow">
                <ul class="bjqs">
                    {{#first.images}}
                    <li><img src="{{.}}" /></li>
                    {{/first.images}}
                </ul>
            </div>
        </div>
    </div>
</div>
