<div id="col1">
    <div id="menu">
        <h2><span>{{page_title}}</span></h2>
        <div class="box-content">
            {{#all}}
            <div class="clearfix inputblock">
                <label><a href="/{{page_name}}/{{title}}" class="action exclusive{{#active}} active{{/active}}">{{title}}</a></label>
            </div>
            {{/all}}
        </div>
    </div>
    <div id="parameter-panel">
        <h2><span>Info</span></h2>
        <div class="box-content">
            {{{current.description}}}
        </div>
    </div>
</div>

<div id="col2">
    <div class="box-doublewidth box-slideshow">
        <h2><span></span></h2>
        <div class="box-content">
            <ul class="bjqs">
                {{#current.images}}
                <li><img src="{{url}}" title="{{title}}" /></li>
                {{/current.images}}
            </ul>
        </div>
    </div>

    {{#current.subimages}}
    <div class="box box-doublewidth">
        {{#first}}
        <h2><span>derivations</span></h2>
        {{/first}}
        <div class="box-content showoff-derivations">
            <a href="/modulator/font/{{short}}"><img src="{{url}}" /></a>
        </div>
    </div>
    {{/current.subimages}}
</div>
