<div id="col2">
    <div class="box-fullwidth box-text">
        <h2><span>Terms</span></h2>
        <div class="box-content">
            <div class="text-col">
                <p>
                All the work contained within this project and the generated fonts are released under the <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GNU General Public License v3.0</a>.
                You are free to use the generated fonts for non commercial purposes.
                </p>
            </div>
            <div class="text-col">
                <p>
                all copyrights on the design of this website and any material published on it are reserved, unless otherwise stated. any material from metaflop.com may be used for presentation purposes only and must be credited to the designers as well as to metaflop.com.
                </p>
            </div>
            <div class="text-col">
                <p>
                Copyright &copy; 2012 by Metaflop - <a href="http://www.simonegli.com" target="_blank">Simon Egli</a>, <a href="http://www.marco-mueller.com" target="_blank">Marco Müller</a>. Interface by <a href="http://koffeinfrei.org" target="_blank">Alexis Reigel</a>. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</div>
