<div id="col2">
    <div class="box-fullwidth box-text">
        <h2><span>Terms</span></h2>
        <div class="box-content">
            <div class="text-col">
                <p>

The sourcecode of this project is licensed under the <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GNU General Public License v3.0</a>.
All generated fonts of this project are dual licensed under the <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GNU General Public License v3.0 (GPL)</a> and the <a href="http://scripts.sil.org/OFL" target="_blank">SIL Open Font License (OFL)</a>, meaning you can pick either one to your liking.
                </p>
            </div>
            <div class="text-col">
                <p>
                All copyrights on the design of this website and any material published on it are reserved, unless otherwise stated.
                </p>
            </div>
            <div class="text-col">
                <p>
                Any material from metaflop.com may be used for presentation purposes only and must be credited to the designers as well as to metaflop.com.
                </p>
            </div>
            <div class="text-col">
                <p>
                Copyright &copy; 2012 by Metaflop - <a href="http://www.simonegli.com" target="_blank">Simon Egli</a>, <a href="http://www.marco-mueller.com" target="_blank">Marco Müller</a>, <a href="http://koffeinfrei.org" target="_blank">Alexis Reigel</a>. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</div>
