<div id="fullcontent">
    <h2><span>Terms</span></h2>
    <div class="box-content">
        <p>
        All the work contain within this project and the generated fonts are released under the <a href="http://www.gnu.org/copyleft/gpl.html">GNU General Public License v3.0</a>.<br />
        You are free to use the generated fonts for non commercial purposes.
        </p>
        <p>
        Copyright &copy; 2012 by Metaflop - Simon Egli, Marco Müller. Interface by Alexis Reigel. All rights reserved.
        </p>
    </div>
</div>
