$live_panel_height: 6em;
$input_height: 1.2em;
$input_color: #ccc;
$active_color: #94CBEE;
$content_width: 1000px;
$preview-box-width: 350px;
$preview-box-spacing: 5px;

@mixin box-shadow {
    box-shadow: 2px 3px 3px #ccc;
}

@mixin left-column {
    width: 29%;
    margin-right: 1%;
    float: left;
}

@font-face {
    font-family: 'AdjusterRegular';
    src: url('../fonts/adjuster-webfont.eot');
    src: url('../fonts/adjuster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adjuster-webfont.woff') format('woff'),
         url('../fonts/adjuster-webfont.ttf') format('truetype'),
         url('../fonts/adjuster-webfont.otf') format('opentype'),
         url('../fonts/adjuster-webfont.svg#AdjusterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 0.8em;
}

input {
    border: 1px solid $input_color;
    font-family: Georgia, serif;
    font-size: 12px;
    height: $input_height;
    width: 37px;
    padding: 0;
    margin: 0.2em 0 0 0;
}

select {
    height: $input_height;
    padding: 0;
    margin: 0.2em 0 0 0;
    border: none;
    background: #fff;
}

option {
    height: $input_height;
    line-height: $input_height;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: AdjusterRegular;
    font-size: $live_panel_height;
    line-height: 1em;
    height: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-shadow: 2px 3px 3px #ccc;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    background-color: $active_color;
    padding: 0.2em 2em 0.2em 0.5em;
    margin: 0;
    display: inline-block;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    line-height: 1.6em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    float: left;
    width: 170px;
    line-height: 1.6em;
}

.clearfix {
    overflow: hidden;

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }
}

#main {
    margin: 0 auto;
    position: relative;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid $input_color;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid $input_color;
}

.vertical-line {
    width: 1px;
    background: $input_color;
}

#header,
#content {
    margin: 20px auto 0 auto;
    width: $content_width;
    overflow: hidden;
}

#menu {
    @include left-column;
}

#live-panel {
    overflow: hidden;
    position: relative;
    display: block;
    text-align: center;

    .topline,
    .bottomline {
        height: 1px;
        margin: auto;
        width: 100%;
        background-color: #000;
        position: absolute;
        left: 0;
        @include box-shadow;
    }
    .topline {
        top: 5px
    }
    .bottomline {
        bottom: 35px;
    }

    .adjuster {
        display: none; /* initial preloading */
        height: $live_panel_height;
        position: absolute;
        top: 0;
        left: 0;

        /* child elements relative, allow grow / move position */
        label {
            font-size: 10px;
            line-height: 1em;
            text-align: left;
            position: absolute;
            top: 27%;
            left: 0;
            background-color: #fff;
            z-index: 1;
            padding: 3px 0;

            input {
                display: block;
            }
        }

        .arrow-up,
        .arrow-down,
        .vertical-line {
            position: absolute;
        }

        .arrow-up {
            top: 0;
            left: 0;
        }

        .arrow-down {
            bottom: 0;
            left: 0;
        }

        .vertical-line {
            top: 0;
            left: 3px;
            height: 100%;
        }

        &.body-height {
            top: 6px;
            left: 20px;
            height: 128px;

            label {
                top: 37%;
            }
        }
    }
}

#parameter-panel {
    display: none; /* initial preloading */
    
    @include left-column;

    input,
    a {
        float: left;
    }

    a {
        text-decoration: none;
        color: transparent;
        width: $input_height;
        height: $input_height;
        display: block;
        background-image: url(../img/plusminus.png);
        background-repeat: no-repeat;

        &.add1 {
            background-position: -19px 0;
            &:hover {
                background-position: -19px -19px;
            }
        }

        &.add10 {
            background-position: 0 0;
            &:hover {
                background-position: 0 -19px;
            }
        }

        &.sub1 {
            background-position: -38px 0;
            &:hover {
                background-position: -38px -19px;
            }
        }

        &.sub10 {
            background-position: -57px 0;
            &:hover {
                background-position: -57px -19px;
            }
        }
    }

    .static-value {
        font-size: 12px;
        line-height: 21px;
    }
}

.preview-box,
.preview-box-fullwidth {
    float: left;
    width: $preview-box-width;
    margin: 0 0 0.1em 0;
    
    h2 {
        background: none;
        padding: 0;
        margin: 0;
    }
    
    .preview-box-content {
        margin: 0 $preview-box-spacing $preview-box-spacing 0;
        background: $active_color;
        border: 3px solid $active_color;
        width: $preview-box-width - $preview-box-spacing - 2 * 3px;
        height: $preview-box-width - $preview-box-spacing - 2 * 3px;
        overflow: hidden;
        text-align: center;
    }
    
    &.active .preview-box-content {
        background: none;        
    }
}

.preview-box-fullwidth {
    width: $preview-box-width * 2 - $preview-box-spacing;
    
    .preview-box-content {
        width: $preview-box-width * 2 - $preview-box-spacing;
    }
}

.adjuster input.active {
    background-color: $active_color;
}

#preview-panel {
    margin-left: 10px;
}

.preview-loading {
    display: none;
    margin-top: 140px;
    height: 50px;
}

.preview-image {
    height: 100%;
}

.inputblock {
    border-bottom: 1px solid #ccc;
}

#loading {
    margin-top: 130px;
}

#templates {
    display: none;
}

