db:
  development:
    adapter: mysql2
    encoding: utf8
    host: localhost
    username: user
    password: pw
    database: metaflop_development

  production:
    adapter: mysql2
    encoding: utf8
    host: localhost
    username: user
    password: pw
    database: metaflop_production
