db:
  development:
    adapter: mysql
    host: localhost
    username: user
    password: pw
    database: metaflop_development
  production:
    adapter: mysql
    host: localhost
    username: user
    password: pw
    database: metaflop_production
