$font_size: 15px;
$input_height: 14px;
$input_color: #ccc9bc;
$link_color: #666;
$link_color_hover: #ff0000;
$bg_color_base: #f2f2f2;
$bg_color_modulator: #e6ffd7;
$bg_color_metafonts: #d7ffff;
$bg_color_projects: #ffffc8;
$bg_color_media: #ffe1e1;

$modulator_active_color: darken($bg_color_modulator, 10%);

$content_width: 1000px;
$right_column_width: 710px;
$box_spacing_y: 7px;
$box_spacing_x: 31px;
$preview_box_width: ($right_column_width - $box_spacing_x) / 2;
$preview_box_width_full: $right_column_width;
$preview_box_height: 340px;
$showoff_preview_box_height: 540px;

$content_width_box_fullwidth: $content_width - (2 * $box_spacing_y);

$left_column_width: $content_width - $right_column_width - $box_spacing_x;

$footer_height: 25px;

$line_height: 22.5px; // ~> line-height: 1.5

$box_heading_padding: 5px 8px 4px 7px;
