.fd-form-element-hidden {
    display: none;
}

.fd-slider {
    width: 100%;
    height: 24px;
    display: block;
    position: relative;

    &.fd-slider-hover {
        .fd-slider-handle {
            background: $modulator_active_color;
        }
    }

    span {
        position: absolute;
    }

    .fd-slider-handle {
        width: 7px;
        height: 15px;
        background: #eee;
        border: 1px solid $input_color;
        top: 4px;
        z-index: 2;
    }

    .fd-slider-bar {
        height: 1px;
        width: 100%;
        background: #aaa;
        top: 50%;
    }

    .fd-slider-range {
        height: 1px;
        top: 50%;
        background: #333;
        z-index: 1;
    }
}


